@model CineExplorer.Models.Trip

<h2>Create New Trip</h2>

@using (Html.BeginForm("Create", "Trip", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.TripName)
        @Html.EditorFor(model => model.TripName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TripDescription)
        @Html.TextAreaFor(model => model.TripDescription, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate)
        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate)
        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
    </div>

    if (ViewBag.MovieId != null)
    {
        <input type="hidden" name="movieId" value="@ViewBag.MovieId" />
        <p>Select locations from the movie: @ViewBag.MovieName (at least one is required)</p>
        <div class="form-group">
            @foreach (var location in ViewBag.MovieLocations)
            {
                <div class="form-check">
                    <input type="checkbox" name="selectedLocations" value="@location.LocationId" class="form-check-input location-checkbox" id="location-@location.LocationId" />
                    <label class="form-check-label" for="location-@location.LocationId">@location.Name, @location.City, @location.Country</label>
                </div>
            }
        </div>
    }
    else
    {
        <div class="form-group">
            <label>Select Locations (at least one is required)</label>
            @foreach (var location in ViewBag.AllLocations)
            {
                <div class="form-check">
                    <input type="checkbox" name="selectedLocations" value="@location.LocationId" class="form-check-input location-checkbox" id="location-@location.LocationId" />
                    <label class="form-check-label" for="location-@location.LocationId">@location.Name, @location.City, @location.Country</label>
                </div>
            }
        </div>
    }

    <button type="submit" class="btn btn-primary" id="submitButton">Create Trip</button>
}

@section Scripts {
    <script>$(document).ready(function () {
            $('#submitButton').click(function (e) {
                if ($('.location-checkbox:checked').length === 0) {
                    e.preventDefault();
                    alert('Please select at least one location for your trip.');
                }
            });
        });</script>
}