@model CineExplorer.Models.Trip

@{
    ViewData["Title"] = "Trip Details";
}

<h1>Trip Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Trip Name
        </dt>
        <dd class="col-sm-10">
            @Model.TripName
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.TripDescription
        </dd>
        <dt class="col-sm-2">
            Start Date
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            End Date
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            Customer
        </dt>
        <dd class="col-sm-10">
            @Model.User.UserName
        </dd>
        <dt class="col-sm-2">
            Places
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var location in Model.Location)
                {
                    <li>@location.Name (@location.City)</li>
                    <a href="/Review/Create/@location.LocationId" class="btn btn-sm btn-primary">Add Review</a>
                }
            </ul>
        </dd>
    </dl>
</div>

<div>
    <a href="/Trip/Edit/@Model.TripId" class="btn btn-sm btn-secondary">Edit</a>
    <a href="/Trip/List" class="btn btn-secondary">Back to List</a>
</div>