@model CineExplorer.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to CineExplorer</h2>

<h3>Featured Movies</h3>
<div class="row">
    @foreach (var movie in Model.FeaturedMovies)
    {
        <div class="col-md-2">
            <h4>@movie.Name</h4>
            <p>@movie.ReleaseYear</p>
            @Html.ActionLink("Details", "Details", "Movie", new { id = movie.MovieId }, new { @class = "btn btn-primary" })
        </div>
    }
</div>

<h3>Featured Locations</h3>
<div class="row">
    @foreach (var location in Model.FeaturedLocations)
    {
        <div class="col-md-2">
            <h4>@location.Name</h4>
            <p>@location.City, @location.Country</p>
            @Html.ActionLink("Details", "Details", "Location", new { id = location.LocationId }, new { @class = "btn btn-primary" })
        </div>
    }
</div>

@if (Model.UserTrips != null && Model.UserTrips.Any())
{
    <h3>Your Trips</h3>
    <div class="row">
        @foreach (var trip in Model.UserTrips)
        {
            <div class="col-md-3">
                <h4>@trip.TripName</h4>
                <p>@trip.StartDate.ToShortDateString() - @trip.EndDate.ToShortDateString()</p>
                @Html.ActionLink("Details", "Details", "Trip", new { id = trip.TripId }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
}